.jumbotron{
    background-image: url("../Pics/pizza.png");
    padding-left: 0;
    padding-right: 0;
}

h1{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(211,211,211,0.7);
    text-align: center;
}

h2{
    margin:10px;
}

.nav-tabs{
    margin-left: 10px;
}

.card{
    margin-left: 10px;
    margin-right: 10px;
}

.card-header{
    background-color: #005cbf;
    color: white;
}

.inner-card-header{
    margin: 0px;
    background-color: lightgray;
    padding: 10px;
    border: 1px solid grey;
}