h1{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

.subheading{
    text-align: center;
    padding: 10px;
}

.contact-info{
    text-align: center;
    margin: 5px;
}

line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid green;
    margin: 1em;
    padding: 0;
}