h1{
    color: blue;
}

#map{
    width: 100%;
    height: 300px;
}

.mapboxgl-marker{
    color: red;
}

#forecast{
    display:flex;
    justify-content: space-between;
}

.forecast-day{
    background-color: blue;
}